.header {
  padding: 10px 0;
  background-color: #ffffff;
  border-bottom: 1px solid #0d3800;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}